.container{

    background-color: green;
    display: grid;
    /* grid-template-columns: 20%; */
}
.left{

}
right{

}

.left{
    background-color: red;
    height: 243px;
    width: 80%;
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid green;


}
.item{
    background-color: lightblue;
    border: 1px solid whitesmoke;
    /* grid-column: 1/3;
    grid-column-gap: 1em;
    justify-content: center; */
    }
.item2{
    background-color: blue;

}
/* .right{
background-color: green;
display: grid;
grid-template-columns: 30%;
} */

